.search-box {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.input-wrapper {
    width: 370px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 8px;
}

.input-label {
    position: absolute;
    z-index: 1;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 20px 10px 20px;
}

.input-icon {
    position: absolute;
    z-index: 1;
    padding: 4px 20px;
    right: 0px;
    font-size: small;
}

.input-wrapper input {
    width: 100%;
    font-size: 14px;
    padding: 10px 50px 10px 105px;
    font-weight: 100;
    color: #212121;
    border-radius: 4px;
    border: 1px solid rgb(73, 73, 73);
}

.card {
    margin: 4px 8px;
    width: 170px;
    height: 200px;
    padding: 30px 13px;
    border-radius: 4px;
    border-bottom-right-radius: 40px !important;
    overflow: hidden;
    cursor: pointer;
}

.card h1 {
    font-weight: 500;
    font-size: 26px;
    color: black
}

.track {
    display: inline-flex;
    transition: transform 0.5s;
}

.job-series {
    width: 1116px;
    overflow: hidden;
    margin: auto;
    max-width: 100vw;
}

.job-part {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 2px rgb(0 0 0 / 10%);
    background-color: #fff;
    border: 1px solid rgb(188, 188, 188);
    text-align: center;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev p, .next p {
    padding-top: 12px;
}

.next {
    left: auto;
    right: 40px;
}

.tao-CV {
    font-size: 18px;
    font-weight: 700;
    color: #ff7b00;
    margin: 10px 110px 0px 0px;
}

.tao-CV:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #ff7b00;
}

.search_container {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    color: #212439;
    box-sizing: inherit;
    background-image: url("../../assets/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.search_container_title {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    margin: .67em 0;
    margin-top: 0;
    font-family: inherit;
    line-height: 1.1;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 39px;
}

.container2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    color: #212439;
    box-sizing: inherit;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px;
    padding-bottom: 0;
    max-width: 1170px;
}

.row2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    color: #212439;
    box-sizing: inherit;
    margin-right: -.9375rem;
    margin-left: -.9375rem;
}

.row2::after {
    display: table;
    clear: both;
    content: "";
}

.col-md-12 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    color: #212439;
    box-sizing: inherit;
    position: relative;
    min-height: 1px;
    padding-right: .9375rem;
    padding-left: .9375rem;
    float: left;
    width: 100%;
}

.search_form {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    color: #212439;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 938px;
}

.search_group_search_group_md_full{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    color: #212439;
    box-sizing: inherit;
    margin-left: 5px;
    margin-right: 5px;
}

.search_input {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font: inherit;
    touch-action: manipulation;
    margin: 0;
    line-height: inherit;
    background-image: url("../../assets/search-cion.png");
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 16px center;
    height: 55px;
    padding-left: 48px;
    border-radius: 4px;
    background-color: #fff;
    color: #212439;
    font-size: 16px;
    border: none;
    width: 355px;
}

.search_group_search_group_md_50 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    color: #212439;
    box-sizing: inherit;
    margin-left: 5px;
    margin-right: 5px;
}

.twitter-typeahead {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    color: #212439;
    box-sizing: inherit;
    width: 100%;
    position: relative;
    display: inline-block;
}

.search_location {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    unicode-bidi: isolate;
    box-sizing: inherit;
    touch-action: manipulation;
    margin: 0;
    line-height: inherit;
    height: 55px;
    width: 275px;
    padding-left: 48px;
    border-radius: 4px;
    color: #212439;
    border: none;
    position: absolute;
    top: 0px;
    left: 0px;
    border-color: transparent;
    box-shadow: none;
    opacity: 1;
    background: url("../../assets/location-icon.png") 16px 50% / 19px no-repeat scroll padding-box border-box rgb(255, 255, 255);
}

.search_location_typeahead_tt-input {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    unicode-bidi: isolate;
    box-sizing: inherit;
    touch-action: manipulation;
    margin: 0;
    line-height: inherit;
    background-image: url("../../assets/location-icon.png");
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 16px center;
    height: 55px;
    width: 275px;
    padding-left: 48px;
    border-radius: 4px;
    color: #212439;
    border: none;
    position: relative;
    vertical-align: top;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
}

.search_btn_new {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
    font: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    touch-action: manipulation;
    margin: 0;
    line-height: inherit;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    height: 55px;
    color: #ffffff;
    background-color: #0d81a7;
    border: none;
    width: 275px;
}

.search_btn_new:hover {
    cursor: pointer;
    background-color: #00698C;
}

.recommend-job {
    background: transparent linear-gradient(179deg,#fff9ed,#fff) 0 0 no-repeat padding-box;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.recommend-paper {
    background-color: white;
    width: 1100px;
}

.box-smart-box {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    margin: 0;
    align-items: center;
    background: #fff;
    color: #212f3f;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}


.box-label p{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    align-items: center;
    background: #f7f0e5;
    border-radius: 16px;
    color: #ae6d27;
    display: flex;
    font-size: 15px;
    margin: 0;
    padding: 6px 16px;
    font-weight: 500;
}

.box-label i {
    color: #ae6d27;
    font-size: 8px;
    margin-right: 8px;
}

.da-rc-contain {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.da-rc-card {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    margin: 0;
    position: relative;
    min-height: 1px;
    width: 33.33333333%;
    padding: 0 8px;
}

.da-inner-card {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 12px rgba(33,47,63,.102);
    margin: 6px 0;
    padding: 12px 12px 10px;
    transition: box-shadow .2s;
    height: 94px;
}

.da-inner-card:hover {
 background: #f6f6f6;
}

.da-inner-card2 {
    /* margin: 6px 0;
    padding: 12px 12px 10px;
    height: 94px; */
}


.da-card-img {
    height: 44px;
    object-fit: contain;
    width: 44px;
    border: 0.25px solid #f7f7f7;
    border-radius: 7px;
}

.da-card-input {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    box-sizing: border-box;
    min-height: 44px;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 39px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline;
    width: 204px;
}

.da-card-input a:first-child {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #666;
    text-decoration: none;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    width: 204px;
}

.da-card-input .a2{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    color: #999;
    display: block;
    width: 204px;
    text-transform: uppercase;
}

.a2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.da-card-input b{
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    white-space: nowrap!important;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #212f3f;
    font-weight: bold;
}

.da-card-input b:hover{
    text-decoration: underline;
    cursor: pointer;
}
.save-job {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: #fff 0 0 no-repeat padding-box;
    border: .5px solid #d4d7da;
    border-radius: 5px;
    height: 24px;
    width: 24px;
}

.save-job2 {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: #fff4eb 0 0 no-repeat padding-box;
    border: .5px solid #fff4eb;
    border-radius: 5px;
    height: 24px;
    width: 24px;
}

.save-job:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.icon-first2 {
    font-weight: 400;
    color: #ff6d00;
    font-size: 12px;
    transition: .4s;
}

.save-job2:hover .icon-first2{
    transform: scale(1.3);
}

.icon-first {
    font-weight: 400;
    color: #a5abb1;
    font-size: 12px;
}
.salary-text_ellipsis {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    margin: 0;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    background: #efefef;
    color: #212f3f;
    opacity: .8;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    letter-spacing: .6px;
    line-height: 16px;
    padding: 2px 9px;
    margin: 0px 5px;
 }

 .address-text_ellipsis {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 300;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    margin: 0;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    max-width: 121px;
    background: #efefef;
    border-radius: 5px;
    box-sizing: border-box;
    color: #212f3f;
    display: inline-block;
    font-size: 12px;
    letter-spacing: .6px;
    line-height: 16px;
    opacity: .8;
    padding: 2px 9px;
    margin: 0px 5px;
 }

 .slick-slick-arrow-left{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    margin: 0;
    font: inherit;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    font-size: 0;
    line-height: 0;
    position: absolute;
    padding: 0;
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #ffecd4;
    border-radius: 50%;
    height: 40px;
    left: -16px;
    overflow: hidden;
    top: 50%;
    width: 40px;
    z-index: 1;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .slick-slick-arrow-icon {
    color: orange;
    font-size: 18px;
    font-weight: 600;
 }

 .slick-slick-arrow-right{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    visibility: visible;
    -webkit-box-sizing: border-box;
    margin: 0;
    font: inherit;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    font-size: 0;
    line-height: 0;
    position: absolute;
    padding: 0;
    transform: translate(0,-50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #ffecd4;
    border-radius: 50%;
    height: 40px;
    overflow: hidden;
    right: -16px;
    top: 50%;
    width: 40px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
 }